<%- include('partials/header.ejs') -%>


<div id='heading'>
    <div class='row'>


        <div class='col-md-6 align-self-center text-center'>
            <h1 id='main-h1'>I'm Milena</h1>
        </div>
        <div class='col-md-6 align-self-center text-center'>
            <img id='img-me' src='img/guitar.jpg'>
        </div>
    </div>
</div>




<%- include('partials/footer.ejs') -%>