<%- include('partials/header.ejs') -%>


<div id='blog-main' class='my-5 p-5 container'>
    <div class="row justify-content-end">
        <a href='/logout'><button type="submit" class="btn btn-logout">Log out</button></a>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-6'>
            <h1>Create new Post</h1>
            <a href='/compose-blog'><button type="submit" class="btn btn-dark">Create new post</button></a><br>

        </div>
        <div class='col-md-6'>
            <h1>Update existing Post</h1>
            <form action="/admin-panel" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name='postTitle' placeholder="Post title">
                </div>
                <div class="form-group">
                    <input type="radio" name="section" value='language'> Language Section<br>
                    <input type="radio" name="section" value='blog'> Blog Post<br>
                </div>
                <button type="submit" class="btn btn-dark">Update post</button>
              </form>            
        </div>
    </div>

</div>




<%- include('partials/footer.ejs') -%>
