<%- include('partials/header.ejs') -%>

<div id='heading'>
    <div class='row'>


        <div class='col-md-12 align-self-center text-center'>
            <h1 id='main-h1'>comming soon...</h1>
                <a href='http://milenakowalska.pythonanywhere.com/' target="_blank"><button type='button' class='btn btn-dark'><i class="far fa-calendar-check"></i> Start using ToDoList's</button></a>
                <a href='https://milenakow.pythonanywhere.com/' target="_blank"><button class="btn btn-dark"><i class="fas fa-book-reader"></i> Start using Learning Tracker</button></a>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs') -%>
